<section class="catalog">
  <div class="container">
    <h2 class="catalog__title h2">Наши квартиры</h2>

    <div class="catalog__row">
      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-1.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-example.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-3.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-4.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-5.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-6.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>

      <a href="#" class="catalog__item">
        <div class="catalog__img">
          <img
            src="images/catalog/catalog-7.jpg"
            width="1170"
            height="780"
            alt="квартира"
          />
        </div>
        <div class="catalog__info info-catalog">
          <h3 class="info-catalog__title h3">Однокомнатная квартира</h3>
          <p class="info-catalog__text">
            СДАМ 1- ую квартиру улучшенной планировки с лоджией, есть всё
            необходимое спальные места кровать 2...
          </p>
          <div class="info-catalog__price">1 200 ₽ за сутки</div>
          <div class="info-catalog__address apartments-address">
            <img
              class="apartments-address__icon"
              src="images/icons/location.svg"
              width="22"
              height="22"
              alt="адрес"
            />
            <span class="apartments-address__text"
              >Березники, ул. Юбилейная 108</span
            >
          </div>
          <p class="info-catalog__btn btn">Подробнее</p>
        </div>
      </a>
    </div>
  </div>
</section>
