@use '../base/functions';
@use '../base/variables';

.btn {
  display: inline-block;
  padding: functions.rem(10) functions.rem(30);
  color: variables.$white;
  font-weight: 700;
  font-size: functions.rem(14);
  background: variables.$btnBgColor;
  border: none;
  border-radius: functions.rem(25);
  outline: none;
  box-shadow: variables.$shadowBtn;
  cursor: pointer;
  transition:
    color variables.$transition,
    background-color variables.$transition;

  &:focus {
    background: variables.$btnBgColorHover;
  }

  @media (hover: hover) {
    &:hover {
      background: variables.$btnBgColorHover;
    }
  }

  @media (min-width: variables.$xl) {
    padding: functions.rem(15) functions.rem(30);
    font-weight: 800;
    font-size: functions.rem(16);
  }
}
