@use '../base/functions';
@use '../base/variables';

.nav {
  // .nav__list

  &__list {
    position: relative;

    @media (min-width: variables.$xl) {
      display: flex;
    }
  }

  // .nav__link

  &__link {
    display: inline-block;
    padding: functions.rem(15) 0;
    font-weight: 600;
    font-size: functions.rem(16);
    font-family: variables.$secondaryFontFamily;

    @media (min-width: variables.$xl) {
      padding: functions.rem(15);
    }
  }
}

.header {
  &__nav {
    @media (max-width: functions.rem(1279.98)) {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: none;
      width: 50%;
      height: 100%;
      background-color: variables.$primaryColor;
      transition: transform variables.$transition;

      &.nav_active {
        display: block;
      }
    }
  }
}

.link-marker {
  @media (min-width: variables.$xl) {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: 0.5s;

    &::after {
      position: absolute;
      bottom: functions.rem(12);
      left: 50%;
      width: calc(100% - 40px);
      height: 2px;
      background-color: #000;
      transform: translateX(-50%);
      content: '';
    }
  }
}

.footer__nav .link-marker {
  @media (min-width: variables.$xl) {
    &::after {
      background-color: variables.$white;
    }
  }
}
