@use '../base/functions';
@use '../base/variables';

/* stylelint-disable no-duplicate-selectors */
[data-a11y-dialog-native] .dialog-overlay {
  display: none;
}

.dialog[aria-hidden='true'] {
  display: none;
}

.dialog:not([data-a11y-dialog-native]),
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog {
  display: flex;
  text-align: center;
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 60%);
  animation: fade-in 200ms both;
}

.dialog-title {
  margin-bottom: functions.rem(10);
}

.dialog-text {
  max-width: functions.rem(370);
  margin-bottom: functions.rem(30);
  margin-inline: auto;
}

.dialog-content {
  position: relative;
  z-index: 2;
  width: functions.rem(420);
  max-width: 90%;
  margin: auto;
  padding: functions.rem(40) functions.rem(20);
  background-color: variables.$white;
  border-radius: variables.$radius;
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;

  @media (min-width: variables.$sm) {
    padding: functions.rem(40);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

.dialog-close {
  position: absolute;
  top: functions.rem(10);
  right: functions.rem(10);
  width: functions.rem(20);
  height: functions.rem(20);
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: variables.$md) {
    top: functions.rem(15);
    right: functions.rem(15);
    width: functions.rem(30);
    height: functions.rem(30);
  }

  &::after,
  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: functions.rem(2);
    background-color: #bcbcbc;
    transition: all variables.$transition;
    content: '';
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:focus {
    &::after,
    &::before {
      background-color: variables.$black;
    }
  }

  @media (hover: hover) {
    &:hover {
      &::after,
      &::before {
        background-color: variables.$black;
      }
    }
  }
}

.dialog {
  .form__input {
    @media (min-width: variables.$md) {
      width: 100%;
    }
  }
}
/* stylelint-enable no-duplicate-selectors */
