@use '../base/functions';
@use '../base/variables';

.swiper-button-prev,
.swiper-button-next {
  @media (min-width: functions.rem(1340)) {
    position: absolute;
    top: 48%;
    z-index: 2;
    display: block;
    width: functions.rem(40);
    height: functions.rem(40);
    background-color: variables.$secondaryColor;
    border-radius: 50%;
    cursor: pointer;
    transition: transform variables.$transition;

    &::after {
      position: absolute;
      top: 11px;
      display: inline-block;
      padding: functions.rem(8);
      border: solid variables.$white;
      border-width: 0 functions.rem(2) functions.rem(2) 0;
      content: '';
    }
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.swiper-button-prev {
  left: 0;

  &::after {
    left: 14px;
    transform: rotate(135deg);
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    left: 8px;
    transform: rotate(-45deg);
  }
}
