@use '../base/functions' as *;
@use '../base/variables' as *;

.swiper-button-prev,
.swiper-button-next {
  @media (min-width: rem(1340)) {
    position: absolute;
    top: 48%;
    z-index: 2;
    display: block;
    width: rem(40);
    height: rem(40);
    background-color: $secondaryColor;
    border-radius: 50%;
    cursor: pointer;
    transition: transform $transition;

    &::after {
      position: absolute;
      top: 11px;
      display: inline-block;
      padding: rem(8);
      border: solid $white;
      border-width: 0 rem(2) rem(2) 0;
      content: '';
    }
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.swiper-button-prev {
  left: 0;

  &::after {
    left: 14px;
    transform: rotate(135deg);
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    left: 8px;
    transform: rotate(-45deg);
  }
}
