@use '../base/functions';
@use '../base/variables';

.footer {
  padding: functions.rem(15) 0;
  background-color: variables.$primaryColor;

  &.overlay::after {
    display: none;

    @media (min-width: variables.$md) {
      display: block;
    }
  }

  @media (min-width: variables.$md) {
    position: relative;
    background: url('../images/footer/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
      position: relative;
      z-index: 2;
      padding-top: functions.rem(200);
    }
  }

  // .footer__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: variables.$md) {
      padding-bottom: functions.rem(20);
    }
  }

  // .footer__logo

  &__logo {
    width: functions.rem(106);

    @media (min-width: variables.$xl) {
      width: functions.rem(150);
    }
  }

  // .footer__nav

  &__nav {
    display: none;

    @media (min-width: variables.$xl) {
      display: block;
      color: variables.$white;
    }
  }

  &__icons-row {
    display: flex;
  }

  &__email {
    display: none;

    @media (min-width: variables.$sm) {
      display: flex;
    }
  }

  &__social-link {
    &:not(:last-child) {
      margin-right: functions.rem(12);

      @media (min-width: variables.$sm) {
        margin-right: functions.rem(15);
      }
    }
  }

  &__social-icon {
    fill: variables.$primaryColor;
  }

  &__social-text {
    display: none;

    @media (min-width: variables.$md) {
      display: initial;
      margin-left: functions.rem(15);
      color: variables.$white;
    }
  }

  // .footer__copyright

  &__copyright {
    display: none;
    padding-top: functions.rem(20);
    color: variables.$white;

    @media (min-width: variables.$md) {
      display: block;
      text-align: center;
      border-top: 1px solid variables.$gray;
    }
  }
}
