@use '../base/functions';
@use '../base/variables';

.header {
  position: relative;
  padding: functions.rem(15) 0;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 45%;
    height: 100%;
    background-color: variables.$primaryColor;
    content: '';

    @media (min-width: variables.$md) {
      width: 56%;
    }

    @media (min-width: variables.$lg) {
      width: 62%;
    }

    @media (min-width: variables.$xl) {
      width: 52%;
    }
  }

  // .header__row

  &__row {
    display: flex;
    align-items: center;
  }

  &__burger {
    margin-right: functions.rem(20);
  }

  // .header__logo

  &__logo {
    max-width: functions.rem(87);
    margin-right: auto;

    @media (min-width: variables.$xl) {
      min-width: functions.rem(136);
    }
  }

  // .header__nav

  &__nav {
    @media (max-width: functions.rem(1279.98)) {
      .nav__list {
        margin-top: functions.rem(75);
        padding-left: functions.rem(15);
      }

      // .nav__item

      .nav__item {
        background-image: url('../images/icons/border-bottom.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
      }

      // .nav__link

      .nav__link {
        padding:
          functions.rem(20) functions.rem(50) functions.rem(20)
          functions.rem(5);
        color: variables.$white;
        font-size: functions.rem(18);
      }
    }

    @media (min-width: variables.$xl) {
      margin-right: functions.rem(52);
    }
  }

  // .header__email

  &__email {
    margin-right: functions.rem(20);

    @media (min-width: variables.$md) {
      display: none;
    }

    @media (min-width: variables.$lg) {
      display: flex;
    }
  }

  &__email-icon,
  &__phone-icon {
    fill: variables.$primaryColor;

    @media (min-width: variables.$md) {
      margin-right: functions.rem(15);
    }
  }

  &__social-link {
    @media (hover: hover) {
      &:hover .social-icon {
        fill: variables.$secondaryColor;
      }
    }
  }

  &__email-text,
  &__phone-text {
    display: none;
    color: variables.$white;

    @media (min-width: variables.$md) {
      display: block;
    }
  }

  // .header__btn

  &__btn {
    display: none;

    @media (min-width: variables.$md) {
      display: inline-block;
      margin-left: functions.rem(40);
    }
  }
}


