<section class="apartments section">
  <div class="container">
    <h2 class="apartments__title h2">Наши квартиры</h2>

    <div class="apartments__row">
      <a href="apartment.html" class="apartments__item" target="_blank">
        <div class="apartments__img">
          <picture>
            <source
              srcset="images/apartments/apartments-1.jpg"
              media="(min-width: 1280px)"
            />
            <img
              src="images/apartments/apartments-1-sm.jpg"
              width="360"
              height="202"
              alt="Однокомнатная квартира"
            />
          </picture>
        </div>
        <div class="apartments__info info-apartments">
          <div class="info-apartments__title">1 комната</div>
          <p class="info-apartments__duration"><span>Сутки:</span> 1 500 ₽</p>
          <div class="info-apartments__row">
            <div class="info-apartments__address apartments-address">
              <svg
                class="apartments-address__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM13.475 12.375L11 10.7999L8.52501 12.375L8.93751 9.57412L6.87501 7.68144L9.76251 7.33288L11 4.8125L12.3145 7.33356L15.125 7.68144L13.0625 9.57412L13.475 12.375Z"
                />
              </svg>

              <span class="apartments-address__text"
                >Березники, ул. Юбилейная 108</span
              >
            </div>

            <div class="info-apartments__btn btn">Подробнее</div>
          </div>
        </div>
      </a>

      <a href="apartment.html" class="apartments__item" target="_blank">
        <div class="apartments__img">
          <picture>
            <source
              srcset="images/apartments/apartments-2.jpg"
              media="(min-width: 1280px)"
            />
            <img
              src="images/apartments/apartments-2-sm.jpg"
              width="360"
              height="202"
              alt="Однокомнатная квартира"
            />
          </picture>
        </div>
        <div class="apartments__info info-apartments">
          <div class="info-apartments__title">3 комнаты</div>
          <p class="info-apartments__duration"><span>Сутки:</span> 1 300 ₽</p>
          <div class="info-apartments__row">
            <div class="info-apartments__address apartments-address">
              <svg
                class="apartments-address__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM13.475 12.375L11 10.7999L8.52501 12.375L8.93751 9.57412L6.87501 7.68144L9.76251 7.33288L11 4.8125L12.3145 7.33356L15.125 7.68144L13.0625 9.57412L13.475 12.375Z"
                />
              </svg>
              <span class="apartments-address__text"
                >Березники, ул. Гагарина 89</span
              >
            </div>

            <div class="info-apartments__btn btn">Подробнее</div>
          </div>
        </div>
      </a>

      <a href="apartment.html" class="apartments__item" target="_blank">
        <div class="apartments__img">
          <picture>
            <source
              srcset="images/apartments/apartments-3.jpg"
              media="(min-width: 1280px)"
            />
            <img
              src="images/apartments/apartments-3-sm.jpg"
              width="360"
              height="202"
              alt="Однокомнатная квартира"
            />
          </picture>
        </div>
        <div class="apartments__info info-apartments">
          <div class="info-apartments__title">2 комнаты</div>
          <p class="info-apartments__duration"><span>Сутки:</span> 1 700 ₽</p>
          <div class="info-apartments__row">
            <div class="info-apartments__address apartments-address">
              <svg
                class="apartments-address__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM13.475 12.375L11 10.7999L8.52501 12.375L8.93751 9.57412L6.87501 7.68144L9.76251 7.33288L11 4.8125L12.3145 7.33356L15.125 7.68144L13.0625 9.57412L13.475 12.375Z"
                />
              </svg>
              <span class="apartments-address__text"
                >Березники, ул. Власова 14</span
              >
            </div>

            <div class="info-apartments__btn btn">Подробнее</div>
          </div>
        </div>
      </a>

      <a href="apartment.html" class="apartments__item" target="_blank">
        <div class="apartments__img">
          <picture>
            <source
              srcset="images/apartments/apartments-4.jpg"
              media="(min-width: 1280px)"
            />
            <img
              src="images/apartments/apartments-4-sm.jpg"
              width="360"
              height="202"
              alt="Однокомнатная квартира"
            />
          </picture>
        </div>
        <div class="apartments__info info-apartments">
          <div class="info-apartments__title">5 комнат</div>
          <p class="info-apartments__duration"><span>Сутки:</span> 4 100 ₽</p>
          <div class="info-apartments__row">
            <div class="info-apartments__address apartments-address">
              <svg
                class="apartments-address__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11 1.375C8.99503 1.37737 7.07286 2.17489 5.65513 3.59262C4.23739 5.01035 3.43987 6.93253 3.43751 8.9375C3.43511 10.576 3.97031 12.17 4.96101 13.475C4.96101 13.475 5.16726 13.7466 5.20095 13.7858L11 20.625L16.8018 13.7823C16.8321 13.7459 17.039 13.475 17.039 13.475L17.0397 13.4729C18.0299 12.1685 18.5649 10.5752 18.5625 8.9375C18.5601 6.93253 17.7626 5.01035 16.3449 3.59262C14.9272 2.17489 13.005 1.37737 11 1.375ZM13.475 12.375L11 10.7999L8.52501 12.375L8.93751 9.57412L6.87501 7.68144L9.76251 7.33288L11 4.8125L12.3145 7.33356L15.125 7.68144L13.0625 9.57412L13.475 12.375Z"
                />
              </svg>
              <span class="apartments-address__text"
                >Березники, ул. Шмидта 10</span
              >
            </div>

            <div class="info-apartments__btn btn">Подробнее</div>
          </div>
        </div>
      </a>
    </div>

    <a href="catalog.html" class="apartments__btn btn" target="_blank"
      >Смотреть все квартиры</a
    >
  </div>
</section>
