<section class="main-block">
  <div class="container">
    <div class="main-block__row">
      <div class="main-block__heading">
        <h1 class="main-block__title h1">Аренда квартир в Березниках</h1>
        <p class="main-block__subtitle">На длительный срок или посуточно</p>
        <a href="catalog.html" class="main-block__btn btn">Смотреть варианты</a>
      </div>
  
      <div class="main-block__img">
        <picture>
          <source srcset="images/main-block/main-block-sm.webp" type="image/webp">
          <img src="images/main-block/main-block-sm.jpg" width="895" height="473"  alt="квартира">
        </picture>
      </div>
    </div>
  </div>
</section>