<section class="message section">
  <div class="container">
    <div class="message__row">
      <div class="message__form-wrapper form-wrapper">
        <h2 class="message__title h2">Напишите нам</h2>
        <form action="#" class="form form-message">
          <input type="text" name="user-name" id="name" class="form__input form-message__input" placeholder="Имя">
          <input type="email" name="user-email" id="email" class="form__input form-message__input" placeholder="Почта">
          <textarea class="form__area form-message__area" name="user-message" id="message" placeholder="Ваше сообщение"></textarea>
          <button class="form__btn form-message__btn btn" type="submit">Отправить</button>
        </form>
      </div>

      <div class="message__info">
        <p class="message__info-text">Дорогой гость, если у тебя есть какие-то пожелания или притензии по улучшению качества обслуживания или просто хочешь оставить свой комментарий, то заполни форму. Мы обязательно ответим тебе, или опубликуем его на нашем сайте.</p>
        <div class="message__info-author">Татьяна Вячеславовна</div>
        <div class="message__info-author-position">Директор гостиницы</div>
      </div>
    </div>
  </div>
</section>