<section class="testimonials section">
  <div class="container">
    <h2 class="testimonials__title h2">Отзывы клиентов</h2>

    <div class="testimonials-slider swiper">
      <div class="testimonials-slider__wrapper swiper-wrapper">
        <div class="testimonials-slider__slide swiper-slide">
          <div class="testimonials-slider__heading">
            <div class="testimonials-slider__heading-title">Уютная квартира</div>
            <div class="testimonials-slider__heading-rating rating">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
            </div>
          </div>
          <p class="testimonials-slider__text">Первый раз отдыхали в Березниках, времени было мало соответственно жильё искали заранее. Залог вносили с опасением, и очень рады что они были напрасными. Всё супер. Нам понравилось! lorem</p>
          <div class="testimonials-slider__footer">
            <div class="testimonials-slider__author-row">
              <div class="testimonials-slider__author-name">Екатерина Трушникова</div>
              <div class="testimonials-slider__author-town">г. Пермь</div>
            </div>
            <div class="testimonials-slider__date"><span>15 января 2022</span></div> 
          </div>
        </div>

        <div class="testimonials-slider__slide swiper-slide">
          <div class="testimonials-slider__heading">
            <div class="testimonials-slider__heading-title">Клёвый вид на город</div>
            <div class="testimonials-slider__heading-rating rating">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
              <img class="rating__icon" src="images/icons/star.svg" width="20" height="20" alt="рейтинг">
            </div>
          </div>
          <p class="testimonials-slider__text">Хочу поблагодарить за квартиру на ул. Юбилейной, д. 108. Удобное месторасположение, совсем рядом с центром. Квартира уютная, соседей не слышно, мы прекрасно отдохнули. Все что нужно для приготовления еды есть.</p>
          <div class="testimonials-slider__footer">
            <div class="testimonials-slider__author-row">
              <div class="testimonials-slider__author-name">Иван Огородников</div>
              <div class="testimonials-slider__author-town">г. Краснокамск</div>
            </div>
           <div class="testimonials-slider__date">05 декабря 2021</div> 
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      
    </div>
      
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>