<section class="apartment section">
  <div class="container">
    <h2 class="apartment__title h2">1-к квартира, 31 м², 1/5 эт.</h2>

    <div class="apartment__info info-apartment">
      <div class="info-apartment__slider">
        <div class="apartment-slider swiper">
          <div class="swiper-wrapper pswp-gallery">
            <div class="swiper-slide">
              <a class="glightbox" href="images/apartments/apartments-1-xl.jpg">
                <img src="images/apartments/apartments-1.jpg" alt="квартира" />
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/apartments/apartments-2-xl.jpg">
                <img src="images/apartments/apartments-2.jpg" alt="квартира" />
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/apartments/apartments-3-xl.jpg">
                <img src="images/apartments/apartments-3.jpg" alt="квартира" />
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/apartments/apartments-4-xl.jpg">
                <img src="images/apartments/apartments-4.jpg" alt="квартира" />
              </a>
            </div>
          </div>
        </div>
        <div class="apartment-thumbs-wrapper">
          <div class="swiper apartment-thumbs-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="images/apartments/apartments-1-sm.jpg"
                  alt="квартира"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="images/apartments/apartments-2-sm.jpg"
                  alt="квартира"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="images/apartments/apartments-3-sm.jpg"
                  alt="квартира"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="images/apartments/apartments-4-sm.jpg"
                  alt="квартира"
                />
              </div>
            </div>
          </div>
          <div class="apartment-slider-btn swiper-button-prev"></div>
          <div class="apartment-slider-btn swiper-button-next"></div>
        </div>
      </div>

      <div class="info-apartment__text">
        <div class="info-apartment__title">1 комната</div>
        <p class="info-apartment__description">
          Сдам 1-квартиру с балконом есть всё необходимое для проживания
          выписываю ДОКУМЕНТЫ ЧЕК ОНЛАЙН
        </p>
        <p class="info-apartment__price"><span>1 500 ₽</span> за сутки</p>
        <div class="info-apartment__address">
          <img
            class="info-apartment__address-icon"
            src="images/icons/location.svg"
            width="22"
            height="22"
            alt="адрес"
          />
          <span class="info-apartment__address-text"
            >Березники, ул. Юбилейная 108</span
          >
        </div>
        <button type="button" class="info-apartment__btn btn">
          Забронировать
        </button>
      </div>
    </div>

    <div class="apartment__equipment equipment-apartment">
      <div class="equipment-apartment__title h3">Оснащение:</div>
      <ul class="equipment-apartment__list">
        <li class="equipment-apartment__list-item">Холодильник</li>
        <li class="equipment-apartment__list-item">Сушка</li>
        <li class="equipment-apartment__list-item">Два комплекта полотенец</li>
        <li class="equipment-apartment__list-item">Стиральная машина</li>
        <li class="equipment-apartment__list-item">Балкон</li>
        <li class="equipment-apartment__list-item">
          Всегда качественное постельное белье
        </li>
        <li class="equipment-apartment__list-item">СВЧ</li>
        <li class="equipment-apartment__list-item">Домофон</li>
        <li class="equipment-apartment__list-item">
          Большой, комфортный раздвижной диван
        </li>
        <li class="equipment-apartment__list-item">Телевизор плазма</li>
        <li class="equipment-apartment__list-item">Wi-fi</li>
        <li class="equipment-apartment__list-item">1 спальное место</li>
        <li class="equipment-apartment__list-item">Цифровое телевидение</li>
        <li class="equipment-apartment__list-item">Вся посуда</li>
      </ul>
    </div>

    <a href="#" class="apartment__btn btn">Смотреть все квартиры</a>
  </div>
</section>
