<section class="appartment section">
  <div class="container">
    <h2 class="appartment__title h2">1-к квартира, 31 м², 1/5 эт.</h2>

    <div class="appartment__info info-appartment">
      <div class="info-appartment__slider">
        <div class="swiper appartment-slider">
          <div class="swiper-wrapper pswp-gallery" >
            <div class="swiper-slide">
              <a class="glightbox" href="images/appartments/appartments-1-xl.jpg">
                <img src="images/appartments/appartments-1.jpg" alt="квартира"/>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/appartments/appartments-2-xl.jpg">
                <img src="images/appartments/appartments-2.jpg" alt="квартира"/>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/appartments/appartments-3-xl.jpg">
                <img src="images/appartments/appartments-3.jpg" alt="квартира"/>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="glightbox" href="images/appartments/appartments-4-xl.jpg">
                <img src="images/appartments/appartments-4.jpg" alt="квартира"/>
              </a>
            </div>
          </div>
          
        </div>
        <div class="appartment-thumbs-wrapper">
          <div class="swiper appartment-thumbs-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/appartments/appartments-1-sm.jpg" alt="квартира"/>
              </div>
              <div class="swiper-slide">
                <img src="images/appartments/appartments-2-sm.jpg" alt="квартира"/>
              </div>
              <div class="swiper-slide">
                <img src="images/appartments/appartments-3-sm.jpg" alt="квартира"/>
              </div>
              <div class="swiper-slide">
                <img src="images/appartments/appartments-4-sm.jpg" alt="квартира"/>
              </div>
            </div>
          </div>
          <div class="swiper-button-next appartment-btn-next"></div>
          <div class="swiper-button-prev appartment-btn-prev"></div>
        </div>
      </div>

      <div class="info-appartment__text">
        <div class="info-appartment__title">1 комната</div>
        <p class="info-appartment__description">Сдам 1-квартиру с балконом есть всё необходимое для проживания выписываю ДОКУМЕНТЫ ЧЕК ОНЛАЙН</p>
        <p class="info-appartment__price"><span>1 500 ₽</span> за сутки</p>
        <div class="info-appartment__address">
          <img class="info-appartment__address-icon" src="images/icons/location.svg" width="22" height="22" alt="адрес">
          <span class="info-appartment__address-text">Березники, ул. Юбилейная 108</span>
        </div>
        <button type="button" class="info-appartment__btn btn">Забронировать</button>
      </div>
    </div>

    <div class="appartment__equipment equipment-appartment">
      <div class="equipment-appartment__title h3">Оснащение:</div>
      <ul class="equipment-appartment__list">
        <li class="equipment-appartment__list-item">Холодильник</li>
        <li class="equipment-appartment__list-item">Сушка</li>
        <li class="equipment-appartment__list-item">Два комплекта полотенец</li>
        <li class="equipment-appartment__list-item">Стиральная машина</li>
        <li class="equipment-appartment__list-item">Балкон</li>
        <li class="equipment-appartment__list-item">Всегда качественное постельное белье</li>
        <li class="equipment-appartment__list-item">СВЧ</li>
        <li class="equipment-appartment__list-item">Домофон</li>
        <li class="equipment-appartment__list-item">Большой, комфортный раздвижной диван</li>
        <li class="equipment-appartment__list-item">Телевизор плазма</li>
        <li class="equipment-appartment__list-item">Wi-fi</li>
        <li class="equipment-appartment__list-item">1 спальное место</li>
        <li class="equipment-appartment__list-item">Цифровое телевидение</li>
        <li class="equipment-appartment__list-item">Вся посуда</li>
      </ul>
    </div>

    <a href="#" class="appartment__btn btn">Смотреть все квартиры</a>
  </div>
</section>