@use '../../base/functions';
@use '../../base/variables';

.about {
  padding-bottom: functions.rem(50);

  @media (min-width: variables.$lg) {
    padding-bottom: functions.rem(80);
  }

  // .about__row

  &__row {
    @media (min-width: variables.$md) {
      display: flex;
      gap: 0 functions.rem(24);
      justify-content: space-between;
    }

    @media (min-width: variables.$lg) {
      gap: 0 functions.rem(56);
    }

    @media (min-width: variables.$xl) {
      gap: 0 functions.rem(100);
    }
  }

  &__text {
    margin-bottom: functions.rem(40);

    @media (min-width: variables.$md) {
      width: functions.rem(278);
    }

    @media (min-width: variables.$lg) {
      width: variables.$col-6;
    }
  }

  // .about__info

  &__info {
    @media (min-width: variables.$md) {
      align-self: start;
      width: variables.$col-7;
    }

    @media (min-width: variables.$lg) {
      width: variables.$col-6;
    }
  }
}

.info-about {
  display: flex;
  flex-wrap: wrap;
  gap: functions.rem(30) functions.rem(20);

  @media (min-width: variables.$sm) {
    justify-content: space-between;
  }

  // .info-about__item

  &__item {
    display: flex;
  }

  // .info-about__icon

  &__icon {
    width: functions.rem(50);
    margin-right: functions.rem(20);
    fill: variables.$primaryColor;

    stop {
      stop-color: variables.$secondaryColor;
    }

    @media (min-width: variables.$xl) {
      width: functions.rem(80);
    }
  }

  // .info-about__amount-number

  &__amount-number {
    display: block;
    color: variables.$primaryColor;
    font-weight: 800;
    font-size: functions.rem(24);
    font-family: variables.$secondaryFontFamily;

    @media (min-width: variables.$xl) {
      font-size: functions.rem(36);
    }
  }

  // .info-about__amount-text

  &__amount-text {
    font-size: functions.rem(14);

    @media (min-width: variables.$xl) {
      font-size: functions.rem(16);
    }
  }
}
