@use '../../base/functions' as *;
@use '../../base/variables' as *;

.about {
  padding-bottom: rem(50);

  @media (min-width: $lg) {
    padding-bottom: rem(80);
  }

  // .about__row

  &__row {
    @media (min-width: $md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(24);
    }

    @media (min-width: $lg) {
      gap: 0 rem(56);
    }

    @media (min-width: $xl) {
      gap: 0 rem(100);
    }
  }

  &__text {
    max-width: rem(500);
    margin-bottom: rem(40);
  }
}

.info-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: rem(20);

  // .info-about__item

  &__item {
    display: flex;
  }

  // .info-about__icon

  &__icon {
    width: rem(50);
    margin-right: rem(20);
    fill: $primaryColor;

    stop {
      stop-color: $secondaryColor;
    }

    @media (min-width: $xl) {
      width: rem(80);
    }
  }

  // .info-about__amount-number

  &__amount-number {
    display: block;
    color: $primaryColor;
    font-weight: 800;
    font-size: rem(24);
    font-family: $secondaryFontFamily;

    @media (min-width: $xl) {
      font-size: rem(36);
    }
  }

  // .info-about__amount-text

  &__amount-text {
    font-size: rem(14);

    @media (min-width: $xl) {
      font-size: rem(16);
    }
  }
}
