@use '../../base/functions';
@use '../../base/variables';

.advantages {
  // .advantages__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(8);

    @media (min-width: variables.$md) {
      gap: functions.rem(10);
    }

    @media (min-width: variables.$xl) {
      gap: functions.rem(20);
    }
  }

  // .advantages__item

  &__item {
    flex: 1 0 140px;
    padding: functions.rem(20) functions.rem(10);
    text-align: center;
    background-color: variables.$white;
    border-radius: variables.$radius;
    box-shadow: 0 10px 20px rgba(17, 17, 17, 10%);
  }

  // .advantages__img

  &__img {
    width: functions.rem(60);
    margin-bottom: functions.rem(20);
    margin-inline: auto;

    svg {
      width: 100%;
      fill: variables.$primaryColor;
    }

    stop {
      stop-color: variables.$secondaryColor;
    }

    @media (min-width: variables.$md) {
      margin-bottom: functions.rem(30);
    }

    @media (min-width: variables.$xl) {
      width: functions.rem(80);
    }
  }

  // .advantages__text

  &__text {
    font-size: functions.rem(14);

    @media (min-width: variables.$lg) {
      font-size: functions.rem(18);
    }
  }
}
