@use '../../base/functions';
@use '../../base/variables';

.apartments {
  text-align: center;

  // .apartments__title

  &__title {
    text-align: left;
  }

  // .apartments__row

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: functions.rem(10) functions.rem(8);

    @media (min-width: variables.$md) {
      gap: functions.rem(12);
    }

    @media (min-width: variables.$xl) {
      grid-template-columns: initial;
      gap: functions.rem(20);
      text-align: initial;
    }
  }

  // .apartments__item

  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: variables.$radius;
    box-shadow: 0 10px 20px rgba(17, 17, 17, 10%);
    transition: transform variables.$transition;

    @media (hover: hover) {
      &:hover {
        z-index: 2;
        transform: scale(1.03);
      }
    }

    @media (min-width: variables.$md) {
      // padding: rem(10);
    }

    @media (min-width: variables.$xl) {
      position: relative;
      padding: 0;
    }

    @media (min-width: variables.$xl) {
      &:nth-child(1) {
        grid-column: 1 / 5;
      }

      &:nth-child(2) {
        grid-column: 5 / 8;
      }

      &:nth-child(3) {
        grid-column: 1 / 4;
      }

      &:nth-child(4) {
        grid-column: 4 / 8;
      }
    }
  }

  // .apartments__img

  &__img {
    position: relative;

    // height: rem(180);
    margin-bottom: functions.rem(12);
    padding-top: 80%;
    overflow: hidden;
    border-radius: variables.$radius;

    img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      object-position: center;
      inset: 0;
    }

    @media (min-width: variables.$xl) {
      height: functions.rem(300);
      margin-bottom: 0;
      padding-top: 0;

      &::after {
        position: absolute;
        background-color: rgba(variables.$black, 50%);
        content: '';
        inset: 0;
      }
    }
  }

  // .apartments__info

  &__info {
    @media (min-width: variables.$xl) {
      position: absolute;
      right: functions.rem(10);
      bottom: functions.rem(20);
      left: functions.rem(40);
    }
  }

  // .apartments__btn

  &__btn {
    margin-top: functions.rem(30);

    @media (min-width: variables.$xl) {
      margin-top: functions.rem(60);
    }
  }
}

.info-apartments {
  padding: 0 functions.rem(10) functions.rem(25) functions.rem(10);

  @media (min-width: variables.$xl) {
    color: variables.$white;
  }

  // .info-apartments__title

  &__title {
    margin-bottom: functions.rem(12);
    font-weight: 700;
    font-size: functions.rem(16);
    font-family: variables.$secondaryFontFamily;

    @media (min-width: variables.$xl) {
      margin-bottom: functions.rem(65);
      font-size: functions.rem(24);
    }
  }

  // .info-apartments__duration

  &__duration {
    margin-bottom: functions.rem(20);
    font-weight: 800;
    font-size: functions.rem(14);
    font-family: variables.$secondaryFontFamily;

    span {
      font-weight: 400;
    }

    @media (min-width: variables.$xl) {
      font-size: functions.rem(20);

      span {
        font-size: functions.rem(18);
      }
    }
  }

  // .info-apartments__row

  &__row {
    @media (min-width: variables.$xl) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  // .info-apartments__btn

  &__btn {
    padding: functions.rem(10) functions.rem(20);
  }
}

.apartments-address {
  display: none;

  @media (min-width: variables.$xl) {
    display: flex;
  }

  // .apartments-address__icon

  &__icon {
    width: functions.rem(22);
    fill: variables.$secondaryColor;

    @media (min-width: variables.$xl) {
      margin-right: functions.rem(10);
    }
  }

  // .apartments-address__text

  &__text {
    font-family: variables.$secondaryFontFamily;

    @media (min-width: variables.$xl) {
      font-size: functions.rem(18);
    }
  }
}
