.main-block {
  position: relative;
  padding: rem(60) 0;
  color: $white;
  text-align: center;

  @media (min-width: $md) {
    padding: 0;
    color: $black;
    text-align: initial;
  }

  &__row {
    @media (min-width: $md) {
      display: flex;
    }
  }

  // .main-block__heading

  &__heading {
    @media (min-width: $md) {
      width: $col-4;
      padding-top: rem(24);
    }

    @media (min-width: $xl) {
      padding-top: rem(80);
    }
  }

  // .main-block__subtitle

  &__subtitle {
    margin-bottom: rem(20);
    font-size: rem(20);
    font-family: $secondaryFontFamily;

    @media (min-width: $md) {
      margin-bottom: rem(30);
    }

    @media (min-width: $xl) {
      font-size: rem(26);
    }
  }

  // .main-block__img

  &__img {
    @media (max-width: rem(767.98)) {
      position: absolute;
      z-index: -1;
      inset: 0;

      &::after {
        position: absolute;
        background-color: rgba($black, 50%);
        content: '';
        inset: 0;
      }
    }

    position: relative;

    img {
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $md) {
      right: rem(-15);
      width: $col-8;
      height: rem(260);
      overflow: hidden;
      border-radius: 10px 0 0 10px;
    }

    @media (min-width: $xl) {
      right: rem(-84);
      height: rem(470);
    }
  }
}
