@use '../../base/functions';
@use '../../base/variables';

.message {
  &__title {
    text-align: center;
  }

  &__row {
    @media (min-width: variables.$md) {
      position: relative;
    }
  }

  &__form-wrapper {
    @media (min-width: variables.$md) {
      position: absolute;
      top: functions.rem(30);
      z-index: 5;
    }

    @media (min-width: variables.$xl) {
      top: 0;
    }
  }

  // .message__info

  &__info {
    display: none;

    @media (min-width: variables.$md) {
      display: block;
      width: variables.$col-7;
      margin-left: auto;
      padding: functions.rem(70) functions.rem(50);

      // background-image: url('../images/icons/quotes.svg');
      // background-repeat: no-repeat;
      // background-size: 70px;
      // content: "";
      // quotes: "„" "“" "‚" "‘";
    }
  }

  // .message__info-text

  &__info-text {
    @media (min-width: variables.$md) {
      margin-bottom: functions.rem(30);
    }

    @media (min-width: variables.$lg) {
      margin-bottom: functions.rem(60);
    }
  }

  // .message__info-author

  &__info-author {
    margin-bottom: functions.rem(10);
    color: variables.$primaryColor;
    font-weight: 700;
    font-family: variables.$secondaryFontFamily;
  }

  // .message__info-author-position

  &__info-author-position {
    font-family: variables.$secondaryFontFamily;
  }
}
