@use '../../base/functions' as *;
@use '../../base/variables' as *;

.message {
  &__title {
    text-align: center;
  }

  &__row {
    @media (min-width: $md) {
      position: relative;
    }
  }

  &__form-wrapper {
    @media (min-width: $md) {
      position: absolute;
      top: rem(30);
      z-index: 5;
    }

    @media (min-width: $xl) {
      top: 0;
    }
  }

  // .message__info

  &__info {
    display: none;

    @media (min-width: $md) {
      display: block;
      width: $col-7;
      margin-left: auto;
      padding: rem(70) rem(50);
    }
  }

  // .message__info-text

  &__info-text {
    @media (min-width: $md) {
      margin-bottom: rem(30);
    }

    @media (min-width: $lg) {
      margin-bottom: rem(60);
    }
  }

  // .message__info-author

  &__info-author {
    margin-bottom: rem(10);
    color: $primaryColor;
    font-weight: 700;
    font-family: $secondaryFontFamily;
  }

  // .message__info-author-position

  &__info-author-position {
    font-family: $secondaryFontFamily;
  }
}
