@use 'functions';
@use 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: variables.$black;
  font-weight: variables.$fontWeight;
  font-size: functions.rem(16);
  font-family: variables.$fontFamily;
  line-height: variables.$lineHeight;

  @media (min-width: variables.$lg) {
    font-weight: variables.$fontWeight;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
}

.page-wapper {
  position: relative;
  max-width: functions.rem(variables.$maxWidth);
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  max-width: functions.rem(variables.$containerWidth);
  margin-inline: auto;
  padding-inline: functions.rem(15);
}

.section {
  padding-top: functions.rem(50);

  @media (min-width: variables.$md) {
    padding-top: functions.rem(60);
  }

  @media (min-width: variables.$xl) {
    padding-top: functions.rem(80);
  }
}

.disable-scroll {
  position: relative;
  overflow: hidden;

  @media (max-width: functions.rem(1279.98)) {
    &::after {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(83, 83, 83, 48%);
      backdrop-filter: blur(4px);
      content: '';
    }
  }
}

.overlay {
  position: relative;

  &::after {
    position: absolute;
    background-color: rgba(variables.$black, 60%);
    content: '';
    inset: 0;
  }
}

.form-wrapper {
  padding: functions.rem(30) functions.rem(20);
  background-color: variables.$white;
  border-radius: variables.$radius;
  box-shadow: variables.$shadow;
}

.form {
  display: flex;
  flex-direction: column;

  // .form__input

  &__input,
  &__area {
    margin-inline: auto;
    width: 100%;
    max-width: functions.rem(400);
    margin-bottom: functions.rem(20);
    padding: functions.rem(10) functions.rem(20);
    border: variables.$inputBorder;
    border-radius: variables.$radius;
    box-shadow: none;

    @media (min-width: variables.$md) {
      width: functions.rem(280);
    }

    @media (min-width: variables.$lg) {
      width: functions.rem(320);
    }

    &::placeholder {
      font-size: functions.rem(14);
    }
  }

  &__area {
    height: functions.rem(120);
    resize: none;
  }

  &__btn {
    align-self: center;
    width: 100%;
    max-width: functions.rem(320);
    margin-top: functions.rem(30);
  }
}

.rating {
  display: flex;
  gap: functions.rem(4);

  &__icon {
    width: functions.rem(20);
    height: functions.rem(20);
  }
}

.social-link {
  display: flex;
  align-items: center;
  max-width: max-content;

  @media (hover: hover) {
    &:hover .social-icon {
      transform: scale(1.2);
    }
  }
}

.social-icon {
  width: functions.rem(30);
  height: functions.rem(30);
  transition: transform variables.$transition;

  @media (min-width: variables.$md) {
    width: functions.rem(40);
    height: functions.rem(40);
  }
}

.social-icon_mr {
  margin-right: functions.rem(15);
}
